<nav id="nav">
  <a href="/" class="nav-logo" aria-label="Hellspite">
    <img src="{{ "img/logo.svg" | relURL }}" alt="Hellspite" class="logo-img"
         onerror="this.outerHTML='<span class=&quot;logo-text&quot;>Hellspite</span>'">
  </a>
  <ul class="nav-links">
    <li><a href="/#home">Home</a></li>
    <li><a href="/#musica">Musica</a></li>
    <li><a href="{{ "news/" | relLangURL }}">News</a></li>
    <li><a href="/#live">Live</a></li>
    <li><a href="/#contatti">Contatti</a></li>
  </ul>
</nav>
